---
import { SITE } from "../config";
import BaseHead from "../components/BaseHead.astro";
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainHero from "../components/MainHero.astro";
let { title } = SITE;
let description = "The perfect starter for your perfect blog.";

// Data Fetching: List all Markdown posts in the repo.

const allPosts = (await getCollection("work")).sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang='en'>
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <div class='wrapper'>
      <Header />
      <main class='content'>
        <MainHero />
        <section class='flex flex-col items-center px-2 mt-[20vh]'>
          <p class='text-center max-w-sm'>
            scroll down to see some of my selected work, or send me a message
            via online mail. If you’re curious, check out what I'm listening to
            right now.
          </p>
        </section>

        <section aria-label='Blog post list' class='px-2 flex flex-col'>
          {
            allPosts?.map((post) => (
              <p>
                <a href={"/work/" + post.slug}>
                  {" "}
                  a:
                  {post.slug}
                </a>
              </p>
            ))
          }
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
