---

---

<dialog>
  
  <p>This modal dialog has a groovy backdrop!</p>
  <div>
    
  </div>
  <div>

    <button data-dialog-cancel>cancel</button>
    <button >Submit</button>

  </div>
</dialog>

<style lang="postcss">
    
    </style>

<script>
    
</script>
