---
import ShinyButton from "./ShinyButton.astro";
---

<section class='flex flex-col items-center'>
  <svg
    class='my-3 lg:hidden'
    height='2rem'
    viewBox='0 0 26 25'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M8.65022 7.73346C8.05693 6.90165 7.73718 5.89937 7.73718 4.87052C7.73718 2.18223 9.87967 0 12.5186 0C15.1574 0 17.2999 2.18223 17.2999 4.87052C17.2999 5.89937 16.9802 6.90165 16.3865 7.73346L15.4183 9.09147L16.3865 7.73346C16.9802 6.90165 17.8168 6.28206 18.7772 5.96429C21.2872 5.13362 23.9868 6.53491 24.8022 9.09147C25.6176 11.648 24.2421 14.3982 21.7321 15.2289C20.7721 15.547 19.7376 15.547 18.7772 15.2289L17.2105 14.7103L18.7772 15.2289C19.7376 15.547 20.5746 16.1662 21.1679 16.9984C22.719 19.1734 22.2449 22.222 20.1103 23.8021C17.9752 25.3822 14.9827 24.8993 13.4316 22.7243C12.8383 21.8925 12.5186 20.8902 12.5186 19.8614V18.1829V19.8614C12.5186 20.8902 12.1988 21.8925 11.6055 22.7243C10.0544 24.8993 7.0619 25.3822 4.92686 23.8021C2.79182 22.222 2.31816 19.1734 3.86922 16.9984C4.46251 16.1662 5.29953 15.547 6.25953 15.2289L7.82662 14.7103L6.25953 15.2289C5.29953 15.547 4.26499 15.547 3.30462 15.2289C0.795044 14.3982 -0.580488 11.648 0.234919 9.09147C1.05032 6.53491 3.74996 5.13362 6.25953 5.96429C7.21991 6.28206 8.05693 6.90165 8.65022 7.73346L9.6188 9.09147L8.65022 7.73346Z'
      fill='currentColor'></path>
  </svg>

  <h1 class='mainheading text-center'>
    <span class='lg:whitespace-nowrap'>
      <span class='whitespace-nowrap'>Simon Zhang</span>
      <span> is</span>
      <span class='-mr-7 md:-mr-10 lg:-mr-12 z-10 relative' aria-hidden='true'
        >®</span
      >
      <span
        class='leading-[0] align-middle mx-4 relative inline-flex'
        aria-hidden='true'
      >
        <span class='inline-block absolute z-10 -top-[0.2em]'>
          <svg
            width='100%'
            height='100%'
            viewBox='0 0 143 56'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path
              d='M16.2693 36.3357C25.3715 32.3248 34.5239 28.6544 43.2992 24.0252C58.9665 15.7603 74.4922 8.5141 92.1452 4.58554C101.529 2.49732 113.179 0.170827 122.583 2.48846C125.202 3.13387 130.863 5.83366 131.474 8.54827C132.956 15.1353 119.89 20.3996 115.372 22.7249C91.5007 35.0122 66.4594 45.0683 39.9682 51.2711C33.4086 52.807 28.3063 53.8675 21.7437 54.5441C19.2343 54.8028 14.3437 55.4673 11.979 53.8509C9.17874 51.9368 10.0054 46.7335 11.4936 44.3225C14.6031 39.285 20.9676 34.8395 26.4095 31.9517C41.3374 24.0299 58.5381 17.6382 74.83 12.7055C91.564 7.63882 109.033 4.54806 126.471 4.89998C127.451 4.91975 141.693 4.88981 142.052 6.96948C142.162 7.60741 140.715 8.90997 140.551 9.05478C136.533 12.5954 131.65 15.655 126.984 18.4246C106.447 30.6142 82.9159 39.5018 59.272 44.8888C45.872 47.9418 31.0817 50.2626 17.3648 49.5272C12.0037 49.2397 6.74581 47.691 1.60694 46.5739'
              stroke='currentColor'
              stroke-width='1.5'
              stroke-linecap='round'></path>
          </svg>
        </span>
        <ShinyButton color='#FFA3F0' width='2.4em' height='0.6em' radius='0' />
      </span>
      <span class='-ml-4'> just</span>
    </span>

    <span class='relative inline-block'>
      <span
        class='block absolute top-[30%] -left-[15%] -z-10 aria-hidden="true"'
      >
        <ShinyButton color='#D4BAFF' width='1em' height='2.2em' radius='3em' />
      </span>
       practicing
    </span>

    <span class='relative inline'>
      design
      <span aria-hidden='true' class='absolute -bottom-[0.1em] -right-[0.7em]'>
        <svg
          width='0.5em'
          viewBox='0 0 42 35'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M13.8626 7.99296C11.9646 7.3477 10.1179 6.40066 8.17245 5.91965C7.04813 5.64167 5.44161 6.91354 5.08469 7.97253C4.67382 9.19158 5.21438 10.6811 5.99346 11.6289C6.72784 12.5223 8.34854 13.2963 8.81273 14.3456C8.8686 14.4719 8.55537 14.4545 8.4203 14.4886C7.49512 14.7222 6.48502 15.0979 5.663 15.5712C3.43336 16.8551 1.55163 19.6319 1.03652 22.1282C0.740571 23.5623 2.31043 24.5333 3.3291 25.2024C5.33061 26.517 7.63854 27.7161 10.0829 27.8476C10.5302 27.8717 10.9681 27.6842 11.3635 27.6842C11.773 27.6842 12.5046 28.753 12.706 28.9915C14.1829 30.7412 15.3849 33.6795 18.0347 33.9348C20.1651 34.14 22.6003 32.9684 24.5097 32.1985C25.2152 31.9141 27.3476 31.3261 27.5355 30.3192C27.8721 28.5162 24.7114 27.4996 24.4684 25.9377C24.2714 24.6714 33.3998 24.5551 34.3513 24.416C35.9653 24.1799 38.2135 23.7675 39.4942 22.6593C41.6027 20.8346 39.2715 17.7028 37.7902 16.3985C35.945 14.7738 32.8538 12.9232 30.2412 13.2835C29.2738 13.4168 29.2898 13.6555 28.4443 14.0188C28.308 14.0774 28.0714 14.2551 28.0106 14.1209C27.6611 13.35 28.6251 12.5401 29.0226 11.7923C29.8773 10.1843 31.3126 8.29658 31.181 6.36904C31.0853 4.96924 30.1838 3.78732 29.4563 2.64118C29.1113 2.09759 28.7165 1.14894 27.9796 1.02748C26.7957 0.832337 25.2149 1.72659 24.1689 2.13052C22.7627 2.67356 21.5845 3.15269 20.4512 4.16296C19.563 4.95483 18.7072 5.85207 17.6836 6.48139C17.2123 6.77112 16.5158 6.85879 16.1759 7.31888C15.8162 7.80563 15.5932 8.37037 15.3497 8.91215M14.4571 15.4928C14.7676 16.0135 15.0125 18.1508 16.0519 18.1508M16.5274 15.4928C17.1094 16.1749 17.2177 17.3352 17.5906 18.1508M14.4571 20.4247C15.4767 20.4352 16.5558 20.5936 17.5611 20.3578C18.0332 20.2471 18.5097 20.2282 18.984 20.1364C19.0804 20.1178 19.1031 19.9861 19.1846 19.9151C19.4668 19.6691 19.7731 19.5022 20.0978 19.3224C20.1848 19.2742 20.3348 19.2076 20.3515 19.0964C20.3759 18.9336 20.5957 18.7092 20.725 18.5983'
            stroke='currentColor'
            stroke-width='1.5'
            stroke-linecap='round'></path>
        </svg>
      </span>
      <span
        class='block absolute bottom-0 lg:bottom-[-0.7em] -right-[40%] lg:-right-[20%] -z-10'
      >
        <ShinyButton
          color='#83E787'
          width='1.5em'
          height='1.2em'
          radius='0.2em'
        />
      </span>
    </span>
  </h1>
  <svg
    width='90%'
    height='3rem'
    class='-mt-5'
    viewBox='0 0 364 59'
    fill='none'
    preserveAspectRatio='none'
    aria-hidden='true'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M1 46.1882C49.1144 32.2288 96.0034 14.5723 149.822 5.49658C167.448 2.52432 207.257 -2.43588 223.786 4.56708C231.503 7.83654 229.185 16.8518 227.362 20.885C221.677 33.4585 185.659 41.8097 162.783 46.7046C151.585 49.1006 140.295 51.1969 129.935 54.3472C128.197 54.8756 119.611 58.785 116.527 57.8586C114.718 57.315 115.527 54.0981 115.633 53.2111C116.262 47.9802 128.208 45.9045 137.309 44.1226C168.627 37.9909 202.435 34.2593 234.512 28.9924C247.72 26.8238 284.496 19.7781 271.159 33.2268C268.738 35.6679 237.43 45.2587 253.394 45.2587C262.242 45.2587 267.035 42.9586 274.735 41.1792C288.391 38.0234 304.457 35.347 318.756 32.8137C333.544 30.1936 347.781 28.6281 363 30.3866'
      stroke='currentColor'
      stroke-width='2'
      stroke-linecap='round'></path>
  </svg>

  <p class='max-w-xs text-center mt-6 mb-10'>
    (creating intimacy between digital and physical products)
  </p>
  <svg
    height='3rem'
    viewBox='0 0 66 49'
    fill='none'
    aria-hidden='true'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M41.2795 15.7692V17.5265M43.5188 16.6648C43.5551 17.0009 43.6427 17.7427 43.9664 18.0075M39.4898 22.2139C40.86 22.3626 42.1132 22.4824 43.5011 22.4824C45.2789 22.4824 46.4 21.7224 47.9935 21.1397M36.733 7.17061C36.733 7.13988 36.7332 7.10926 36.7338 7.07876M36.7338 7.07876C36.8013 3.20667 41.1315 1.26972 44.4731 1.0146C47.3251 0.796861 49.7041 3.04023 48.6822 6.02368C48.3709 6.93259 47.856 6.99117 48.8927 6.60885C52.9953 5.0959 58.0918 4.66206 62.432 4.64267C63.1714 4.63937 64.4853 4.51553 64.8406 5.4151C65.3572 6.72298 64.4955 8.5393 63.9754 9.67515C62.8949 12.0348 61.9274 13.9473 59.3103 14.5087C59.0997 14.5538 58.8875 14.5521 58.7271 14.5371M36.7338 7.07876C35.5139 7.02131 34.2956 7.15277 33.0851 7.60364C31.5547 8.17363 30.9551 9.62866 30.2088 10.9625C29.1729 12.8142 28.759 14.7558 28.759 16.8845C28.759 17.5009 28.6336 19.6043 29.2033 20.021C29.979 20.5884 30.7886 20.3566 31.682 20.2785C32.2027 20.2329 32.762 20.1619 33.3286 20.0592M36.7338 7.07876C37.505 7.11509 38.277 7.22692 39.048 7.38128M58.7271 14.5371C58.4251 14.509 58.3065 14.4341 58.7271 14.5371ZM58.7271 14.5371C58.8049 14.5562 58.9011 14.5814 59.018 14.614C60.7664 15.1024 63.0073 16.6774 63.7416 18.3825C64.6162 20.4137 64.345 22.661 63.4609 24.6205C62.5298 26.6843 61.2012 27.0602 59.0414 27.3942C57.0583 27.7008 55.5492 27.9755 53.8969 26.5749C52.9784 25.7964 51.6641 23.3201 50.4127 23.1809C49.7538 23.1077 49.6613 23.4826 49.1499 24.1874C48.0563 25.6947 47.2529 27.1228 45.5605 28.0145C43.4798 29.1106 40.7867 30.0758 38.3816 29.4423C36.7828 29.0211 35.6141 26.9545 34.9558 25.5684C34.3652 24.3249 33.1552 22.4796 33.1552 21.0743C33.1552 20.5916 33.2149 20.2768 33.3286 20.0592M33.3286 20.0592C33.6307 19.4806 34.3144 19.5885 35.2715 19.0496C35.7068 18.8045 38.0924 18.1331 36.733 18.9209C35.7662 19.4811 34.5311 19.8413 33.3286 20.0592ZM42.6159 30.5385C42.6159 31.5991 42.7036 32.5945 42.2706 33.5821C41.6801 34.929 40.9841 36.0775 40.7168 37.5445C40.5432 38.4976 37.5941 38.6289 37.0146 38.7122C35.2849 38.9608 33.568 39.1689 31.8161 39.1525C28.8843 39.1251 26.0656 38.4668 23.1648 38.1667C21.1184 37.9549 19.0091 37.7743 16.9497 37.7743C15.4506 37.7743 14.0027 37.3902 12.4993 37.4297C11.0659 37.4673 9.8005 38.2686 8.50937 38.8079C7.31162 39.3083 6.04113 39.4101 4.84551 39.8416C4.14336 40.095 3.55484 40.1722 2.81216 40.1862C2.33231 40.1952 1.75164 40.484 1.27756 40.3489C0.92061 40.2471 1.01057 37.5665 1.009 37.3148C1.00412 36.531 0.9936 35.7442 1.009 34.9603C1.01755 34.525 1.46929 34.6732 1.81467 34.6732C2.28079 34.6732 3.35796 34.4434 3.67537 34.9412C4.0237 35.4874 3.77129 36.7285 3.77129 37.3531C3.77129 37.632 3.59976 38.8573 3.87679 38.9802C4.27126 39.1552 4.62624 39.2618 4.97979 39.497M48.8885 25.6162C48.8885 30.4125 48.1093 35.2017 48.0187 39.9679C47.9974 41.0891 48.1347 42.0878 47.6708 43.1241C47.58 43.3269 47.0652 43.2296 46.8976 43.2296H41.389C35.9016 43.2296 30.5814 44.7838 25.0757 44.7838C23.5588 44.7838 22.1239 44.8919 20.6302 45.1291C19.2615 45.3465 17.8832 45.3048 16.4939 45.4361C14.3538 45.6384 12.4132 44.7838 10.2894 44.7838C9.32477 44.7838 8.34917 44.6145 7.69938 45.4745C6.64087 46.8755 5.62731 47.5467 3.77569 47.5467C2.74587 47.5467 2.78993 47.4584 2.78993 46.5106C2.78993 46.015 2.81441 44.0013 3.22482 43.9108C3.80528 43.7827 4.42966 43.7849 5.01271 43.6134C5.94506 43.3392 5.6477 44.2272 6.00813 44.7838C6.35289 45.3161 6.82401 45.3511 7.13885 45.8199M34.1186 27.4058C32.1211 27.6221 30.1191 27.8014 28.1044 27.8492C26.1936 27.8945 24.3644 27.5564 22.482 27.5564M38.5964 29.1962C36.3211 29.4086 34.011 29.9064 31.757 30.3102C30.748 30.4909 29.5319 30.5644 28.5601 30.897C27.5512 31.2422 26.2201 31.8816 25.1695 31.8816M21.0729 21.1397C19.3565 21.8809 17.7332 22.5923 16.3122 23.8044C15.8271 24.2183 15.1228 24.4005 14.5783 24.7371C13.782 25.2294 13.0897 25.6669 12.198 26.0028C11.3119 26.3366 11.1188 26.2788 12.0412 26.2788C12.795 26.2788 13.7166 26.674 14.4412 26.8784C16.6783 27.5094 19.1805 28.2056 21.1415 29.4384C21.5143 29.6728 22.7589 30.0863 22.8362 30.5614C23.048 31.8649 22.8362 33.3327 22.8362 34.6536C22.8362 34.9216 23.0076 35.8044 22.65 35.8623C22.1631 35.9411 21.6048 35.8718 21.1121 35.8718C20.3005 35.8718 19.3911 35.9984 18.6044 35.7861C17.5782 35.5092 16.7303 34.6133 15.7244 34.1968C14.6578 33.7551 13.3999 33.8161 12.2568 33.8161C11.2854 33.8161 11.2812 32.1224 11.2086 31.3703C11.0716 29.9507 10.8462 28.5599 10.8462 27.1353M20.2444 21.1397C20.1877 23.1952 19.8864 25.2314 19.8864 27.2888C19.8864 28.2635 20.09 28.3807 19.3493 29.1958'
      stroke='currentColor'
      stroke-width='1.5'
      stroke-linecap='round'></path>
  </svg>
</section>

<style lang="postcss">
    section {
        @apply px-3;
    }
    .mainheading {
        font-size: 15vmin;
        @apply leading-[1.15];
    }
</style>
