---
import { ANCHORTAGS } from "../config";

const isHome = Astro.url.pathname === "/";
---

<nav transition:name="nav">
  <div>
    <a href=`/${isHome ? '#' + ANCHORTAGS.work : ''}`>work</a>
    <a href='/play'>play</a>
  </div>
  <div>
    <button data-contact class="psuedo-link">contact</button>
    <a href='/#about'>about</a>
  </div>
</nav>

<style lang="postcss">
    nav {
        @apply sticky px-3 py-3 top-0 flex justify-between;
        @apply z-50;
    }
    nav>div {
      @apply flex gap-6;
    }
    nav a {
      @apply inline px-2 py-1 -mx-2 -my-1;
      
    }
    .psuedo-link {
      @apply bg-theme-light text-theme-dark;
      @apply underline inline px-2 py-1 -mx-2 -my-1;;
      @apply hover:bg-theme-dark hover:text-theme-light;
    }
</style>
