---
import BaseHead from "../components/BaseHead.astro";

const { content } = Astro.props;
const {
  title,
  description,
  publishDate,
  author,
  authorURL,
  heroImage,
  permalink,
  alt,
} = content;
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <div class='wrapper'>
      <slot />
    </div>
  </body>
</html>
