---
import { ANCHORTAGS } from "../config";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Contact from "../components/Contact.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

interface Props {
  colors?: {
    fg?: string;
    bg?: string;
  };
}

const { colors } = Astro.props;

//  the extra lines at the bottom is because you need to redefine variables for it take affect ..?
// doesnt cascade it seems
const colorsStyles = colors
  ? `--c-bg: ${colors.bg} !important;  ${
      colors.fg ? "--c-fg: " + colors.fg : ""
    }` + ";--c-light: var(--c-bg); --c-dark: var(--c-fg); "
  : "";

const anim = {
  old: {
    name: "slideOut",
    duration: "10s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "slideOut",
    duration: "10s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<html lang='en'>
  <head>
    <style :global>
      @keyframe slideOut {
        from {
          transform: translateY(-400px);
        }
        to {
          transform: translateY(0);
        }
      }
    </style>
  </head><body id={ANCHORTAGS.topOfPage} style={colorsStyles}>
    <div class="class='bg-light text-dark'">
      <Nav />
      <main id={ANCHORTAGS.mainContent}>
        <slot />
      </main>
      <Footer />
      <Contact />
    </div>
  </body>
</html>
